/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/dbprim.pc
/dbprim.spec
/dbprim_version.c
/dbprim_version.h
/depcomp
/docs
/Doxyfile
/install-sh
/libdbprim.la
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/missing
/tests/Makefile
/tests/Makefile.in
/tests/test-harness
/tests/test-harness.log
/tests/t_hashtab
/tests/t_linklist
/tests/t_redblack
/tests/t_sparsemat
/travis-build
.deps
.dirstamp
.libs
*.lo
*.o
*.tar.gz
