/aclocal.m4
/autom4te.cache
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/dbprim.pc
/dbprim.spec
/dbprim_version.c
/dbprim_version.h
/depcomp
/docs
/Doxyfile
/install-sh
/libdbprim.la
/libtool
/local
/ltmain.sh
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/Makefile
/Makefile.in
/missing
/test-driver
/tests/test_hash_fnv_init
/tests/test_he_init
/tests/test_ht_init
/tests/test_le_init
/tests/test_ll_init
/tests/*.trs
/travis-build
.deps
.dirstamp
.libs
*-coverage
*-coverage.info
*-coverage.info.tmp
*.gcda
*.gcno
*.gcov
*.lo
*.log
*.o
*.tar.gz
